<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Login.js"></script>
    <title></title>
</head>
<body>
    <div class="container">

        <div id="div_login">
            <h1>Login</h1>
            <div id="logins"></div>
            <div>
                <input type="text" class="textbox" id="txt_email" name="txt_email" placeholder="Email" />
            </div>
            <div>
                <input type="text" class="textbox" id="txt_psc" name="txt_psc" placeholder="Passcode" />
            </div>
            <div>
                <input type="button" value="Submit" name="but_submit" id="but_submit" />
            </div>
        </div>

    </div>

</body>
</html>